<nav class="top-navigation">
	<a href="#">
		<h1 class="logo hide-text">CoStorm</h1>
	</a>
	<button class="new-project">
		<%= image_tag("icons/plus.png") %>New Project
	</button>
	<a href="#" class="search hide-text">Search</a>
		
</nav>