// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
	{
		background-color: #F2F2F2
	}

header
	{
		background: #1D1D1D;
		width: 100%;
	}

footer
	{
		background: #F18020;
		width: 100%;
	}